<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.2.0/macfuse-5.2.0.dmg</string>
			<key>Hash</key>
			<string>ZnJ/9c8HVaG6KI6+s+OgeUBAvy8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "12" AND Ticket.version != "5.2.0"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13736858</string>
			<key>Version</key>
			<string>5.2.0</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.2.0/macfuse-5.2.0.dmg</string>
			<key>Hash</key>
			<string>ZnJ/9c8HVaG6KI6+s+OgeUBAvy8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "13" AND Ticket.version != "5.2.0"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13736858</string>
			<key>Version</key>
			<string>5.2.0</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.2.0/macfuse-5.2.0.dmg</string>
			<key>Hash</key>
			<string>ZnJ/9c8HVaG6KI6+s+OgeUBAvy8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "14" AND Ticket.version != "5.2.0"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13736858</string>
			<key>Version</key>
			<string>5.2.0</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.2.0/macfuse-5.2.0.dmg</string>
			<key>Hash</key>
			<string>ZnJ/9c8HVaG6KI6+s+OgeUBAvy8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "15" AND Ticket.version != "5.2.0"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13736858</string>
			<key>Version</key>
			<string>5.2.0</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.2.0/macfuse-5.2.0.dmg</string>
			<key>Hash</key>
			<string>ZnJ/9c8HVaG6KI6+s+OgeUBAvy8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "16" AND Ticket.version != "5.2.0"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13736858</string>
			<key>Version</key>
			<string>5.2.0</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.2.0/macfuse-5.2.0.dmg</string>
			<key>Hash</key>
			<string>ZnJ/9c8HVaG6KI6+s+OgeUBAvy8=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "26" AND Ticket.version != "5.2.0"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13736858</string>
			<key>Version</key>
			<string>5.2.0</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.3.2/macfuse-5.3.2.dmg</string>
			<key>Hash</key>
			<string>TPIRUtkEBG+2Hy08T2avo1S2V1E=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "27" AND Ticket.version != "5.3.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>15762333</string>
			<key>Version</key>
			<string>5.3.2</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	iH9h9utqhB22w/tA0Fc6d67FjwA1AUBO5QPW6yPUrLaJPNu0yAj3rJkjRSL7+PVsCA67
	xyBKdxVa8NWP1vaES6TioZIdGiluHHW9Afy1wZn3xusmQu0xRX3HKhq2QyRVgmDkLa/l
	4Sgq5JnJ9mRSPFJLs5JhYEPR9s3NIzn4e64=
	</data>
</dict>
</plist>
