<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.1.2/macfuse-5.1.2.dmg</string>
			<key>Hash</key>
			<string>eS/kSFaK+eAjJF1oSN57+nOBCEk=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "12" AND Ticket.version != "5.1.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13214815</string>
			<key>Version</key>
			<string>5.1.2</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.1.2/macfuse-5.1.2.dmg</string>
			<key>Hash</key>
			<string>eS/kSFaK+eAjJF1oSN57+nOBCEk=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "13" AND Ticket.version != "5.1.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13214815</string>
			<key>Version</key>
			<string>5.1.2</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.1.2/macfuse-5.1.2.dmg</string>
			<key>Hash</key>
			<string>eS/kSFaK+eAjJF1oSN57+nOBCEk=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "14" AND Ticket.version != "5.1.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13214815</string>
			<key>Version</key>
			<string>5.1.2</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.1.2/macfuse-5.1.2.dmg</string>
			<key>Hash</key>
			<string>eS/kSFaK+eAjJF1oSN57+nOBCEk=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "15" AND Ticket.version != "5.1.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13214815</string>
			<key>Version</key>
			<string>5.1.2</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.1.2/macfuse-5.1.2.dmg</string>
			<key>Hash</key>
			<string>eS/kSFaK+eAjJF1oSN57+nOBCEk=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "16" AND Ticket.version != "5.1.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13214815</string>
			<key>Version</key>
			<string>5.1.2</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.1.2/macfuse-5.1.2.dmg</string>
			<key>Hash</key>
			<string>eS/kSFaK+eAjJF1oSN57+nOBCEk=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "26" AND Ticket.version != "5.1.2"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>13214815</string>
			<key>Version</key>
			<string>5.1.2</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	MT2trGTP1tS3s/UR9CLEmABz5AG8yaRlDQvLZYMGUtOBiyhV8RQYfVhtGJh3FLngSq53
	CxYWXxTLTqE5kG/8h/WQgDxnQbfQz7q3mietEYXz6IAXVQbVoyAOxcaTADytA3mseezo
	q6DnP5G0JT1WztKE43vXXc7UIi1cntzU99U=
	</data>
</dict>
</plist>
