<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/osxfuse/osxfuse/releases/download/macfuse-4.1.1/macfuse-4.1.1.dmg</string>
			<key>Hash</key>
			<string>2hVXAwyUAIRAlN6Rm7OhhuQqTkQ=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.12" AND Ticket.version != "4.1.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>5746862</string>
			<key>Version</key>
			<string>4.1.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/osxfuse/osxfuse/releases/download/macfuse-4.1.1/macfuse-4.1.1.dmg</string>
			<key>Hash</key>
			<string>2hVXAwyUAIRAlN6Rm7OhhuQqTkQ=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.13" AND Ticket.version != "4.1.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>5746862</string>
			<key>Version</key>
			<string>4.1.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/osxfuse/osxfuse/releases/download/macfuse-4.1.1/macfuse-4.1.1.dmg</string>
			<key>Hash</key>
			<string>2hVXAwyUAIRAlN6Rm7OhhuQqTkQ=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.14" AND Ticket.version != "4.1.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>5746862</string>
			<key>Version</key>
			<string>4.1.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/osxfuse/osxfuse/releases/download/macfuse-4.1.1/macfuse-4.1.1.dmg</string>
			<key>Hash</key>
			<string>2hVXAwyUAIRAlN6Rm7OhhuQqTkQ=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.15" AND Ticket.version != "4.1.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>5746862</string>
			<key>Version</key>
			<string>4.1.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/osxfuse/osxfuse/releases/download/macfuse-4.1.1/macfuse-4.1.1.dmg</string>
			<key>Hash</key>
			<string>2hVXAwyUAIRAlN6Rm7OhhuQqTkQ=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "10.16" AND Ticket.version != "4.1.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>5746862</string>
			<key>Version</key>
			<string>4.1.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/osxfuse/osxfuse/releases/download/macfuse-4.1.1/macfuse-4.1.1.dmg</string>
			<key>Hash</key>
			<string>2hVXAwyUAIRAlN6Rm7OhhuQqTkQ=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "11" AND Ticket.version != "4.1.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>5746862</string>
			<key>Version</key>
			<string>4.1.1</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	hl+fht+KyRMkpRgd4g8ECLpdVaBdzsm3tLlFFgBWFjyosyOwuQMt9Ra3kGjSfRE4poId
	KXfWNPjcK3gw5MzQkFY6EfxhMlYvJDDENJK9m29WDQLySf6msI9Ov00ZBwxRoIuN+Ooc
	yulpgkKnaPJZf8fBEd8JR/W7eWa9Li/XE8w=
	</data>
</dict>
</plist>
