<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rules</key>
	<array>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.0.1/macfuse-5.0.1.dmg</string>
			<key>Hash</key>
			<string>s8zkwW3HmmEjWX16pyKG7aezHOM=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "11" AND Ticket.version != "5.0.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>9857898</string>
			<key>Version</key>
			<string>5.0.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.0.1/macfuse-5.0.1.dmg</string>
			<key>Hash</key>
			<string>s8zkwW3HmmEjWX16pyKG7aezHOM=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "12" AND Ticket.version != "5.0.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>9857898</string>
			<key>Version</key>
			<string>5.0.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.0.1/macfuse-5.0.1.dmg</string>
			<key>Hash</key>
			<string>s8zkwW3HmmEjWX16pyKG7aezHOM=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "13" AND Ticket.version != "5.0.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>9857898</string>
			<key>Version</key>
			<string>5.0.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.0.1/macfuse-5.0.1.dmg</string>
			<key>Hash</key>
			<string>s8zkwW3HmmEjWX16pyKG7aezHOM=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "14" AND Ticket.version != "5.0.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>9857898</string>
			<key>Version</key>
			<string>5.0.1</string>
		</dict>
		<dict>
			<key>Codebase</key>
			<string>https://github.com/macfuse/macfuse/releases/download/macfuse-5.0.1/macfuse-5.0.1.dmg</string>
			<key>Hash</key>
			<string>s8zkwW3HmmEjWX16pyKG7aezHOM=</string>
			<key>Predicate</key>
			<string>SystemVersion.ProductVersion beginswith "15" AND Ticket.version != "5.0.1"</string>
			<key>ProductID</key>
			<string>com.github.osxfuse.OSXFUSE</string>
			<key>Size</key>
			<string>9857898</string>
			<key>Version</key>
			<string>5.0.1</string>
		</dict>
	</array>
	<key>Signature</key>
	<data>
	fpGF9kNePMkLzrcWHkqb4PeuHisHIRLrBPfl/trU2LMN5SeAqpE5eatv7PeDgJQz3SuT
	d/XtCiJDP+/CuG0gtIr59vUD9vtGM0tQg+Bqz9r/pWN2+BDLNUiFe/VcBVUVZZbNzr72
	6C1Jp1tQf3MZWKr5zUqwStMzqWt+rn8CT80=
	</data>
</dict>
</plist>
