body {
    margin: 0px;
    padding: 0px;
}

#menubar {
    display: block;
    z-index: 1000;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;

    border-bottom: 2px solid rgb(105,129,149);
    background-color: rgb(64,64,64);

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 10pt;
    font-weight: 200;
}

#menubar > div {
    display: block;

    position: relative;
    width: 800px;
    height: 30px;

    margin: auto;
}

#menubar ul.menu {
    margin: 0px;
    padding: 0px;
}

#menubar ul.menu li {
    display: inline-block;
    line-height: 30px;
}

#menubar ul.menu a {
    display: inline-block;

    padding-left: 15px;
    padding-right: 15px;

    color: white;

    text-decoration: none;

    -webkit-transition-property: background-color;
    -webkit-transition-duration: 250ms;
}

#menubar ul.menu a:hover {
    background-color: #555555;
}

#menubar #menu-left {
    position: absolute;
    left: 0px;
}

#menubar #menu-right {
    position: absolute;
    right: 0px;
}

#header {
    display: block;

    margin: 0px;
    margin-bottom:40px;

    border-bottom: 1px solid rgb(178,188,197);
    box-shadow: 0px 4px 8px #A0A0A0;
    background-color: rgb(233,237,242);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(209,216,224)), to(rgb(233,237,242)));

    padding: 0px;
    padding-top: 32px;
}

#header > h1 {
    display: block;

    position: relative;
    width: 690px;
	height:100px;

    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;

    background-image: url('/static/osxfuse.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    background-size: 90px;

    padding-left: 110px;
}

#header > h1 span.title {
    display: inline-block;

    position: relative;
    top: -10px;

    font-family: 'Arial Black', Arial, sans-serif;
    color: rgb(105,129,149);
}

#header > h1 #title-fuse {
    font-size: 60px;
}

#header > h1 #title-for {
    left: -20px;

    padding-left: 20px;

    font-size: 28px;

    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

#header > h1 #title-osx {
    left: -35px;

    word-spacing: -10px;
    font-size: 60px;
}

#header > h1 #subtitle {
    display: inline-block;

    position: relative;
    left: 4px;
    top: -30px;

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 22px;
    font-weight: 100;
    color: rgb(105,129,149);
}

#content {
    display: table;

    position: relative;
    width: 800px;

    margin: auto;
    margin-bottom: 50px;

    padding: 0px;

    line-height: 1.4;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 10pt;
    font-weight: 300;
    color: #202020;

    text-align: justify;
}

#content h2 {
    margin-top: 0px;
    margin-bottom: 15px;

    font-size: 22px;
    font-weight: 100;
    color: rgb(105,129,149);
}

#content * + h2 {
    margin-top: 30px;
}

#content h3 {
    margin-top: 0px;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 100;
    color: rgb(105,129,149);
}

#content * + h3 {
    margin-top: 20px;
}

#content ul {
    list-style-type: square;
}

#content li + li {
    margin-top: 10px;
}

#content a {
    font-weight: 400;
    color: rgb(105,129,149);

    text-decoration: none;
}

#content a:hover {
    color: rgb(68,88,109);
}

#content code, #content pre {
    padding-top: 1px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;

    border: 1px solid #D0D0D0;
    border-radius: 2px;
    background-color: rgb(250,250,250);

    font-family: 'Courier New', monospace;
}

#footer {
    display: block;

    border-top: 1px solid #C0C0C0;
}

#footer div {
    display: block;

    position: relative;
    width: 800px;

    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;

    line-height: 12pt;

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 8pt;
    font-weight: 400;
    color: #A0A0A0;
}
