body {
    margin: 0px;
    padding: 0px;

    background-color: #FFFFFF;
}

#header {
    display: block;
    position: relative;

    margin: 0px;
    margin-bottom:40px;

    box-shadow: 0px 5px 10px #A0A0A0;
    background-color: #6E87A0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#526881), to(#95B1CB));

    padding: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
}

#header > a {
    text-decoration: none;
}

#header h1 {
    display: block;

    position: relative;
    width: 710px;
	min-height: 60px;

    margin: auto;
    margin-bottom: 15px;

    background-image: url('/static/osxfuse.png');
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 10px center;

    padding-left: 90px;
}

#header h1 #title {
    display: inline-block;

    margin-top: 5px;

    font-family: helvetica, arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;

    text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}

#header h1 #subtitle {
    display: none;

    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFF;

    text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
}

#menu {
    display: block;

    width: 800px;
    height: 25px;

    margin: auto;
    padding: 0px;

    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
}

#menu li {
    display: inline-block;

    padding-right: 5px;

    line-height: 25px;
}

#menu a {
    display: inline-block;

    padding-left: 5px;
    padding-right: 5px;

    border-radius: 5px;
    border: 1px solid #B3BED8;

    background-color: #7288A1;

    text-decoration: none;
    font-weight: 200;
    font-family: helvetica, arial, sans-serif;
    color: #E3EEF8;

    -webkit-transition-property: color, border;
    -webkit-transition-duration: 250ms;
}

#menu a:hover {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

#content {
    display: table;
    table-layout: fixed;

    position: relative;
    width: 800px;

    margin: auto;
    margin-bottom: 30px;

    border: 1px solid #B3BAC2;
    border: none;
    border-left: none;
    border-right: none;

    line-height: 18px;

    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 200;
    color: #484848;

    text-align: justify;
}

#content h2 {
    position: relative;

    margin-bottom: 20px;

    padding-bottom: 10px;

    border-bottom: 1px solid #D0D0D0;

    font-size: 20px;
    font-weight: 200;
    color: #303030;
}

#content * + h2 {
    margin-top: 25px;
}

#content h3 {
    position: relative;

    margin-top: 0px;
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 200;
    color: #303030;
}

#content * + h3 {
    margin-top: 25px;
}

#content p, #content ul {
    margin-top: 5px;
}

#content ul {
    list-style-type: square;
}

#content li + li {
    margin-top: 10px;
}

#content a {
    color: #3C75AE;

    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content code {
    padding: 0px 2px 0px 2px;
}

#content pre {
    overflow-x: scroll;

    padding: 4px;
}

#content code, #content pre {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    background-color: #F8F8F8;

    font-family: 'courier new', monospace;
}

#content .note {
    font-style: italic;
}

.footer {
    display: block;
}

.footer div {
    display: block;

    position: relative;
    width: 800px;

    margin: auto;

    padding-top: 5px;
    padding-bottom: 5px;

    line-height: 16px;

    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    color: #A0A0A0;
}

.footer a {
    color: #A0A0A0;

    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

#sponsors {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;

    background-color: #F8F8F8;
}

#sponsors h2 {
    margin: 0px;
    margin-bottom: 10px;

    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #787878;
}

#sponsors a {
    display: inline-block;

    margin-bottom: 5px;
}

#sponsors a + a {
    margin-left: 10px;
}

#sponsors a img {
    height: 30px;
}

#legal {
    margin-top: 5px;
}
