#content {
    width: 510px;
    padding-right: 290px;
}

#sidebar {
    display: block;

    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
}

#sidebar .bloblist {
    margin: 0px;
    padding: 0px;
}

#sidebar .bloblist .blob {
    display: block;

    border-radius: 3px;
    border: 1px solid #C0C0C0;

    background-color: rgb(250,250,250);

    line-height: 1.4;
    font-family: 'Helvetica Neue', Arial;
    font-size: 10pt;

    -webkit-transition-property: border-color, background-color;
    -webkit-transition-duration: 250ms;
}

#sidebar .bloblist .blob:hover {
    border-color: rgb(105,129,149);
    background-color: rgb(230,237,242);
}

#sidebar .bloblist .blob a {
    display: block;

    padding: 5px;
}

#sidebar .bloblist .blob a, #sidebar .bloblist .blob:hover a {
    font-weight: 200;
    color: #404040;

    text-decoration: none;
}

#sidebar .bloblist .blob + .blob {
    margin-top: 8px;
}


#sidebar .bloblist .blob-download .download-icon {
    display: inline-block;

    position: relative;
    width: 60px;

    padding-left: 5px;
    padding-right: 10px;

    border: none;

    vertical-align: middle;

    opacity: 0.8;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 250ms;
}

#sidebar .bloblist .blob-download:hover .download-icon {
    opacity: 1;
}

#sidebar .bloblist .blob-download .download-description {
    display: inline-block;

    vertical-align: middle;
}

#sidebar .bloblist .blob-download .download-counter {
    display: block;
    
    margin-top: 2px;
    
    font-size: 8pt;
    color: #A0A0A0;
}

#sidebar .bloblist .blob-post .post-date {
    display: block;

    font-size: 8pt;
    color: #A0A0A0;
}

#sidebar .bloblist .blob-post .post-title {
    display: block;

    position: relative;
}
