#sidebar {
    display: table-cell;
    width: 250px;

    padding-left: 40px;
}

#sidebar h2 {
    margin-bottom: 0px;
    padding: 5px;
    padding-left: 10px;

    background-color: #D3DEE8;

    color: #4E575B;
    font-weight: 100;
    font-size: 13px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #C5D5DD;
    border-left: 1px solid #C5D5DD;
    border-right: 1px solid #C5D5DD;
    border-bottom: none;
}

#sidebar h2 a.archive {
    position: absolute;
    right: 10px;

    color: #4E575B;
}

#sidebar h2 a.archive:hover {
    #color: #697595;
}

#sidebar ul.bloblist {
    margin: 0px;
    padding: 0px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #C5D5DD;
    border-top: none;
}

#sidebar ul.bloblist li {
    display: block;

    border-top: 1px solid #D0D0D0;

    line-height: 17px;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;

    -webkit-transition-property: background-color;
    -webkit-transition-duration: 250ms;
}

#sidebar ul.bloblist li:hover {
    background-color: #D3DEE8;
}

#sidebar ul.bloblist li a {
    display: block;

    padding: 7px 10px 7px 10px;
}

#sidebar ul.bloblist li a, #sidebar ui.bloblist li:hover a {
    font-weight: 200;
    color: #404040;

    text-decoration: none;
}

#sidebar ul.bloblist li + li{
    margin-top: 0px;
}

#sidebar ul.bloblist li span.metadata {
    display: block;

    margin-top: 4px;

    line-height: 14px;
    font-size: 8pt;
    color: #808080;
}

#sidebar ul.bloblist li span.metadata + span.metadata {
    margin-top: 0px;
}
