---
layout: default
---
<style type="text/css" scoped="scoped">
    @import url('/static/home.css') screen;
</style>
{{ content }}
<div id="sidebar">
    <h2>Download</h2>
    <ul class="bloblist">
        <li class="blob blob-download">
            <a href="https://github.com/downloads/osxfuse/osxfuse/OSXFUSE-{{ page.current-release.version }}.dmg">
                <img class="icon" src="/static/package.png" alt="" />
                <span class="description">
                    OSXFUSE {{ page.current-release.version }}
                    {% for line in page.current-release.description %}
                        <br />{{ line }}
                    {% endfor %}
                </span>
            </a>
        </li>
    </ul>
    <h2>Recent Posts</h2>
    <ul class="bloblist">
        {% for post in site.posts limit:10 %}
            <li class="blob blob-post">
                <a href="{{ post.url }}">
                    <span class="date">{{ post.date | date_to_string }}</span>
                    <span class="title">{{ post.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
