---
layout: post
---
<style type="text/css" scoped="scoped">
    #release {
        min-height: 60px;

        margin-bottom: 30px;

        padding-left: 75px;

        background-image: url('/static/package.png');
        background-repeat: no-repeat;
        background-position: 0px center;
    }

    #release span.metadata {
        display: block;

        font-size: 11px;
        color: #808080;
    }
</style>
<p id="release">
    <a href="{{ page.release.url }}">
        Download {{ page.release.name }}</a>
    {% for line in page.release.description %}
        <span class="metadata">{{ line }}</span>
    {% endfor %}
</p>
{{ content }}
